.main {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}
.details {
  grid-area: 'detail';
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.image {
  grid-area: 'image';
}
.image img {
  width: 100%;
  border-radius: 5px;
}

.controller {
  height: 40px;
  color: white;
  background-color: rgb(37, 53, 73);
  width: 100%;
  color: var(--color1);
  display: flex;
  align-items: center;
  /* padding-left: 20px; */
  position: relative;
}
