header {
  height: 40px;
  color: white;
  background-color: rgb(37, 53, 73);
  width: 100%;
  color: var(--color1);
  display: flex;
  align-items: center;
  /* padding-left: 20px; */
  position: relative;
}
